<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hending.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
				<key>dateExpires</key>
				<string>2021/6/29</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CYLTabBarController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B4DF7311F7ADF2985928ACA80DEAC11B2D63404A</string>
						<key>dateExpires</key>
						<string>2021/6/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WebViewJavascriptBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AT688RKRKP</string>
						<key>name</key>
						<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AT688RKRKP.com.Hending.project</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AT688RKRKP</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>狠盯.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8c7205b5-9616-4cb9-af86-94dd7f6b9445</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.Hending.project</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AT688RKRKP</string>
				<key>name</key>
				<string>Chongqing Xinruolan Huanjian Culture Industry Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
